@model IEnumerable<Merriweather.Models.Album>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Genre
        </th>
        <th>
            OrderDetails
        </th>
        <th>
            Band
        </th>
        <th>
            Songs
        </th>
        
        <th>
            Title
        </th>
        <th>
            Price
        </th>
        <th>
            PictureUrl
        </th>
        <th>
            LiveDate
        </th>
        <th>
            PlaylistPicture
        </th>
        <th>
            Gemm
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
        <td>
			@item.Name
        </td>
        <td>
			@(item.Genre == null ? "None" : item.Genre.Name)
        </td>
        <td>
			@(item.OrderDetails == null ? "None" : item.OrderDetails.Count.ToString())
        </td>
        <td>
			@(item.Band == null ? "None" : item.Band.Name)
        </td>
        <td>
			@(item.Songs == null ? "None" : item.Songs.Count.ToString())
        </td>
        <td>
			@item.Title
        </td>
        <td>
            @if (item.Products != null)
            {
                @String.Format("{0:F}", item.Products.First().Price)
            }

        </td>
        <td>
			@item.ImageUrl
        </td>
        <td>
			@String.Format("{0:g}", item.LiveDate)
        </td>
        <td>
			@item.PlaylistPicture
        </td>
        <td>
			@item.Gemm
        </td>
    </tr>
}

</table>


