@model Merriweather.Models.Band

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Band</legend>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Name</div>

    <div class="display-label">Email</div>
    <div class="display-field">@Model.Email</div>

    <div class="display-label">Picture</div>
    <div class="display-field">@Model.Picture</div>

    <div class="display-label">WebPage</div>
    <div class="display-field">@Model.WebPage</div>

    <div class="display-label">Article</div>
    <div class="display-field">@Model.Article</div>

    <div class="display-label">Albums</div>
    <div class="display-field">@(Model.Albums == null ? "None" : Model.Albums.Count.ToString())</div>

    <div class="display-label">Artists</div>
    <div class="display-field">@(Model.Artists == null ? "None" : Model.Artists.Count.ToString())</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


