@using Merriweather.Models
@model MvcMusicStore.Models.Song

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name)
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div>
    <aside>Firefox requires .ogg files, while IE and chrome can use .mp3. Convert your audio <a href="http://media.io">here.</a></aside>
    <input type="file" id="SongUpload" name="SongUpload" />
    <input type="hidden" id="Href" />
</div>
<br/>

<div>
    <audio id="audioPreview" controls="controls">
        
    </audio>
</div>

<div class="editor-label">
    Album
</div>
<div class="editor-field">
    @Html.DropDownListFor(model => model.AlbumId, ((IEnumerable<Album>)ViewBag.PossibleAlbums).Select(option => new SelectListItem {
        Text = (option == null ? "None" : option.Name), 
        Value = option.Id.ToString(),
        Selected = (Model != null) && (option.Id == Model.AlbumId)
    }), "Choose...")
    @Html.ValidationMessageFor(model => model.AlbumId)
</div>